@* Agrego la referencia *@

@section scripts {
    @Scripts.Render("~/bundles/app")
}


<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
</div>

<div class="row">
    <h3>Autor</h3>
    <p>Id Autor: <input type="text" data-bind="value: id" /></p>
    @* si pongo los parentesis al getAuthor lo ejecuta al cargar la página. *@
    <button data-bind="click: getAuthor">Buscar</button>
    @*<p>Autor: <strong data-bind="text: Autor().name"></strong></p>*@
    <p>Autor: <strong data-bind="text: Autor().name"></strong></p>
    @*<p>Nombre: <input data-bind="value: Autor().name"/></p>*@
</div>
