@* Agrego la referencia *@

@section scripts {
    @Scripts.Render("~/bundles/app")
}


<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
</div>

<div class="row">
        <h3>Autor</h3>
        <p>Dato: <strong data-bind="text: name"></strong></p>
        
 </div>
